.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
dist/
build/
.eggs/
wheels/
*.egg-info/
*.egg
MANIFEST
wheelhouse/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/

# Environments
.env
.envrc
.venv
env/
venv/

# Ruff stuff:
.ruff_cache/

# Local build files
c/
src/mlir/
src/vgf_adapter_model_explorer/bin/mlir-translate
src/vgf_adapter_model_explorer/bin/mlir-translate.exe
src/vgf_adapter_model_explorer/bin/vgf_dump
src/vgf_adapter_model_explorer/bin/vgf_dump.exe
src/vgf_adapter_model_explorer/bin/*.spdx.json
